{% extends 'myhome/base.html' %}

{% block body_block %}

<div class=".container-fluid p-2">
    <h1>Please Login</h1>
    <form action="{% url 'myhome:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter user name">
        <label for="password">Passowrd:</label>
        <input type="text" name="password">
        <input type="submit" name="" value="Login">
    </form>
</div>

{% endblock %}